module oo_bot 1.1;

require {
  class dir { search open read getattr add_name write remove_name create setattr };
  class file { open read write append create getattr setattr unlink };
  class sock_file { create open read write getattr setattr unlink };
  class process transition;
  class tcp_socket { name_connect };
  class unix_stream_socket { create bind listen accept connectto read write getattr getopt setopt shutdown };
}

type oo_bot_t;
type oo_bot_exec_t;
init_daemon_domain(oo_bot_t, oo_bot_exec_t);

type oo_bot_etc_t;
files_type(oo_bot_etc_t);

type oo_bot_var_lib_t;
files_type(oo_bot_var_lib_t);

type oo_bot_var_run_t;
files_type(oo_bot_var_run_t);

allow oo_bot_t oo_bot_etc_t:dir { search open read getattr };
allow oo_bot_t oo_bot_etc_t:file { open read getattr };
allow oo_bot_t oo_bot_var_lib_t:dir { search open read getattr add_name write remove_name create setattr };
allow oo_bot_t oo_bot_var_lib_t:file { open read write append create getattr setattr unlink };
allow oo_bot_t oo_bot_var_run_t:dir { search open read getattr add_name write remove_name create setattr };
allow oo_bot_t oo_bot_var_run_t:sock_file { create open read write getattr setattr unlink };
allow oo_bot_t self:unix_stream_socket { create bind listen accept connectto read write getattr getopt setopt shutdown };
allow oo_bot_t self:tcp_socket name_connect;
