DISCORD_TOKEN=YOUR_BOT_TOKEN
OO_EMOJI_ID=1489695886773587978
OO_EMOJI_NAME=Omilfy
OO_EMOJI_ANIMATED=false
OO_STAMP=<:Omilfy:1489695886773587978>
OO_SPECIAL_PHRASE=これはおお
OO_MAX_COUNT_CAP=48
OO_MAX_SEND_CHARS=1900

OO_MODE_OVERRIDE=
OO_EMERGENCY_KILL_SWITCH=false

OO_ALLOW_GUILD_IDS=
OO_DENY_GUILD_IDS=
OO_ALLOW_CHANNEL_IDS=
OO_DENY_CHANNEL_IDS=

OO_DUPLICATE_TTL_MS=180000
OO_DUPLICATE_CACHE_CAP=8192

OO_COOLDOWN_USER_MS=900
OO_COOLDOWN_CHANNEL_MS=400
OO_COOLDOWN_GUILD_MS=250
OO_COOLDOWN_GLOBAL_MS=100

OO_GLOBAL_RATE_PER_SEC=20
OO_GLOBAL_RATE_BURST=30
OO_MAX_ACTIONS_PER_MESSAGE=1

OO_LONG_MESSAGE_SOFT_CHARS=2000
OO_LONG_MESSAGE_HARD_CHARS=8000
OO_SUSPICIOUS_REPETITION_THRESHOLD=256

OO_BREAKER_WINDOW_MS=60000
OO_BREAKER_THRESHOLD=64
OO_BREAKER_OPEN_MS=120000

OO_SANDBOX_MEMORY_BYTES=65536
OO_SANDBOX_TABLE_ELEMENTS=64
OO_SANDBOX_INSTANCE_LIMIT=4
OO_SANDBOX_FUEL_LIMIT=50000
OO_SANDBOX_FAILURE_WINDOW_MS=30000
OO_SANDBOX_FAILURE_THRESHOLD=10

OO_SESSION_BUDGET_TOTAL=1000
OO_SESSION_BUDGET_REMAINING=1000
OO_SESSION_BUDGET_RESET_AFTER=86400
OO_SESSION_BUDGET_LOW_WATERMARK=5